---
title: "Page team"
profile: "profile.jpg"
---

<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <% data.team.qui.each do |member| %>
      <li>
        <h3><%= File.basename(member,File.extname(member)).capitalize %></h3>
        <%= image_tag "#{member}", width: "100px" , class: "img-circle" %>
      </li>
    <% end %>
  </ul>
  <h3 class="padded">
    <% link_to "mailto:contact@airbnb.com" do %>
      <i class="fa fa-envelope"></i> contact@airbnb.com
    <% end %>
  </h3>
</div>
